nav {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid var(--border-gray);
  background-color: #fff;
}
nav .container-fluid .row {
  padding: 10px 0;
  position: relative;
}
.brand-logo {
  /* position: absolute;
  bottom: -50%;
  left: -2%;
  transform: translate(2%, 40%);
  border-radius: 5rem;
  background-color: #fff;
  border: 2px solid var(--secondary-400);
  border-radius: 5rem;
  padding: 15px; */
}
.brand-logo img {
  max-width: 100px;
}
.nav-icons span {
  position: relative;
}
.ant-badge {
  position: absolute;
  top: -0%;
  right: -5%;
  transform: translate(5%, 0%);
}
.anticon {
  font-size: var(--font-xl);
}
