<main>
  <section class="product_first_section">
    <div class="container-fluid">
      <div class="product_section">
        <div class="product_img_section_vertical" [style.height]="imageHeight">
          <img
            class="product_img"
            src="assets\images\unstitched-list.webp"
            alt=""
          />
          <img
            class="product_img"
            src="assets\images\unstitched-list.webp"
            alt=""
          />
          <img
            class="product_img"
            src="assets\images\unstitched-list.webp"
            alt=""
          />
          <img
            class="product_img"
            src="assets\images\unstitched-list.webp"
            alt=""
          />
        </div>

        <div class="product_img_section" [style.height]="imageHeight">
          <owl-carousel-o class="horizontal" [options]="customOptions">
            <ng-container *ngFor="let slide of headers">
              <ng-template carouselSlide>
                <img
                  class="product_img"
                  src="assets\images\unstitched-list.webp"
                  alt=""
                />
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>

        <div class="product_content_section">
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              <a [routerLink]="['../../']">Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>{{ paramName }}</nz-breadcrumb-item>
            <nz-breadcrumb-item>Product</nz-breadcrumb-item>
          </nz-breadcrumb>

          <div class="product_content_body pt-2">
            <nz-space nzDirection="vertical" nzSize="large">
              <div *nzSpaceItem class="product_content_body_tittle">
                <h3>Printed Button Down Shirt</h3>
                <h6 class="mt-1">CRFWWT0005-SML-GRN</h6>
              </div>
              <div *nzSpaceItem class="product_content_body_price">
                <p>In Stock</p>
                <strong>Rs. 2500.00</strong> <br />
                <p><span>Shipping </span>calculated at checkout.</p>
              </div>
              <div *nzSpaceItem class="product_content_body_sizes">
                <nz-space nzDirection="vertical">
                  <div *nzSpaceItem>
                    <nz-space>
                      <button
                        *nzSpaceItem
                        nz-button
                        nzType="default"
                        class="size_button"
                      >
                        Small
                      </button>
                      <button
                        *nzSpaceItem
                        nz-button
                        nzType="default"
                        class="size_button"
                      >
                        Medium
                      </button>
                      <button
                        *nzSpaceItem
                        nz-button
                        nzType="default"
                        class="size_button"
                      >
                        Large
                      </button>
                      <button
                        *nzSpaceItem
                        nz-button
                        nzType="default"
                        class="size_button"
                      >
                        X-Large
                      </button>
                    </nz-space>
                  </div>
                  <div *nzSpaceItem class="product_content_body_size_guide">
                    <nz-space>
                      <img
                        *nzSpaceItem
                        src="assets\images\sizeIcon.webp"
                        alt=""
                      />
                      <span *nzSpaceItem>Size Guide</span>
                    </nz-space>
                  </div>
                </nz-space>
              </div>
              <div *nzSpaceItem class="product_content_body_quantity">
                <nz-input-number-group
                  [nzAddOnBefore]="addOnBeforeTemplate"
                  [nzAddOnAfter]="addOnAfterTemplate"
                >
                  <nz-input-number
                    [(ngModel)]="quantity"
                    [nzStep]="1"
                  ></nz-input-number>
                </nz-input-number-group>
                <ng-template #addOnBeforeTemplate> - </ng-template>
                <ng-template #addOnAfterTemplate> + </ng-template>
              </div>
              <div *nzSpaceItem class="product_content_body_addToCart_buttons">
                <nz-space nzDirection="vertical">
                  <div *nzSpaceItem class="d-flex align-items-center">
                    <button nz-button class="default_button">
                      ADD TO CART
                    </button>
                    <button nz-button class="default_like">
                      <span nz-icon nzType="heart"></span>
                    </button>
                  </div>

                  <button
                    *nzSpaceItem
                    nz-button
                    class="primary_button"
                    (click)="routeToCheckout()"
                  >
                    BUY IT NOW
                  </button>
                </nz-space>
              </div>
              <div *nzSpaceItem class="product_content_body_share">
                <span nz-icon nzType="share-alt"></span>
                <p>Share</p>
              </div>
            </nz-space>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product_second_section">
    <div class="container-fluid mt-4 mb-4">
      <nz-divider nzText="Product Detail" nzOrientation="left"></nz-divider>
      <div class="product_second_main">
        <div class="left">
          <!-- <h5><span>Product</span> Detail</h5> -->

          <ul>
            <li *ngFor="let detail of productDetail">
              <strong>{{ detail.name }} : </strong>
              <span>{{ detail.content }}</span>
            </li>
          </ul>
        </div>

        <div class="right">
          <nz-collapse
            nzAccordion
            nzExpandIconPosition="right"
            [nzBordered]="false"
          >
            <nz-collapse-panel
              *ngFor="let panel of panels"
              [nzHeader]="panel.name"
              [nzActive]="panel.active"
            >
              <p>{{ panel?.childPanel?.detail }} content</p>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
    </div>
  </section>

  <section class="product_third_section">
    <div class="container-fluid mb-5">
      <nz-divider nzText="Related Products" nzOrientation="left"></nz-divider>
      <div class="related_products">
        <owl-carousel-o
          class="related_products_carousel"
          [options]="relatedProductCarousel"
        >
          <ng-container *ngFor="let list of cardList">
            <ng-template carouselSlide>
              <div class="card_wrapper">
                <nz-ribbon
                  *ngIf="list.badge !== null"
                  [nzText]="list.badge"
                  nzColor="volcano"
                >
                  <nz-card nzSize="small" nzHoverable>
                    <div class="list_card_img">
                      <img [src]="list.src" alt="" />
                      <button>Add to Cart</button>
                    </div>
                    <div class="list_card_content">
                      <strong>{{ list.name }}</strong>
                      <span>{{ list.currency }}. {{ list.price }}</span>
                    </div>
                  </nz-card>
                </nz-ribbon>
                <nz-card *ngIf="list.badge === null" nzSize="small" nzHoverable>
                  <div class="list_card_img">
                    <img [src]="list.src" alt="" />
                    <button>Add to Cart</button>
                  </div>
                  <div class="list_card_content">
                    <strong>{{ list.name }}</strong>
                    <span>{{ list.currency }}. {{ list.price }}</span>
                  </div>
                </nz-card>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </section>
</main>
